# Nx + pnpm + Rust + TS ignores
node_modules
dist
.nx
rust/target
*.log
.env.local
corelib.txt
lint-output.txt
*.node
*.tgz
.pnpm-store

# ──────────────────────────────────────────────
# AWS SAM deployment folder
# Keep ONLY template.yaml, ignore everything else
# ──────────────────────────────────────────────
sam-corelib/*
!sam-corelib/template.yaml
!sam-corelib/samconfig.toml
!sam-corelib/event.json
!sam-corelib/events

# SAM build output (always ignore)
sam-corelib/.aws-sam/
sam-corelib/*.js
sam-corelib/*.zip
sam-corelib/*.tgz

full-modules.svg
